h1 {
    color: red;
}

table,
tr,
td {
    border: solid 2px black;
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
}

.black,
.red,
.blue {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}