body {
    margin: 20px;
}

h1 {
    color: red;
}

table,
tr,
td {
    border: solid 1px black;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
}

#color-palette {
    border: 2px solid;
    display: inline-block;
    font-size: 0;
    margin-top: 10px;
}

#color-palette>* {
    border: 1px solid;
    margin: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;

}


.black {
    background-color: black;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.chocolate {
    background-color: chocolate;
}

.pink {
    background-color: pink;
}

.lime {
    background-color: lime;
}